.burger-menu {
  max-width: 875px;

  @media (min-width: 768px) {
    flex-grow: 1;
  }

  @media (min-width: 1440px) {
    font-size: 18px;
    line-height: 22px;
  }

  &__list {
    display: none;
    justify-content: space-between;
    padding-left: 20px;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  &__icon {
    height: 29px;

    @media (min-width: 768px) {
      display: none;
    }
  }
}
