.footer {
  background-color: #e9e9e9;
  padding-bottom: 10px;

  &__divider {
    width: 100%;
    border-top: 1px solid #c4c4c4;
    margin-bottom: 20px;
  }

  &__top {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 22px;
  }

  &__logo {
    width: 127px;
  }

  &__burger {
    height: 100%;
  }

  &__bottom {
    font-size: 10px;
    line-height: 100%;
  }
}
