.header {
  &__container {
    width: 100%;
    height: 56px;
    justify-content: space-between;
    align-items: flex-end;
    background-color: grey;
  }

  &__logo {
    height: 29px;
  }
}

.burger {
  height: 29px;
}
