.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &__container {
    width: 100%;
    // height: 56px;
    padding-top: 27px;
    justify-content: space-between;
    align-items: flex-end;
    @media(min-width: 1440px) {
      // height: 57px;
    }
  }

  &__logo {
    height: 29px;
    @media(min-width: 1440px) {
      height: 46px;
    }
  }
}

.burger {
  height: 29px;

  @media (min-width: 768px) {
    display: none;
  }
}
