.partners {
  padding: 18px 0;
  &__list {
    display: grid;
    margin: 0;
    padding: 0 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 0;
    overflow-y: hidden;
    justify-items: stretch;
    column-gap: 19px;
    row-gap: 6px;
  }

  &__item {
    outline: 1px solid grey;
  }

  &__logo {
    object-fit: contain;
    object-position: center;
  }
}
