.steps {
  padding-top: 27px;

  // DEBUG
  // @media (min-width: 768px) {
  //   padding-top: 136px;
  // }

  // @media (min-width: 1440px) {
  //   // padding-top: 72px;
  //   // DEBUG
  //   padding-top: 259px;
  // }


  &__list {
    margin: 0;

    // DEBUG
    // margin-bottom: -52px;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      align-items: start;
      row-gap: 31px;
    }
  }

  &__item {
    display: flex;
    padding-bottom: 40px;
    flex-direction: column;
    justify-content: flex-end;

    @media (min-width: 768px) {
      margin: 0;
      padding: 0 35px;
    }
  }

  &__img {
    margin-bottom: 14px;
  }

  &__title {
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    text-transform: capitalize;
    margin-bottom: 5px;
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;

    @media (min-width: 768px) {
      margin-bottom: 10px;
    }

    @media (min-width: 1440px) {
      font-size: 30px;
      line-height: 36px;
    }
  }

  &__descr {
    font-size: 14px;
    line-height: 17px;

    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 19px;
    }

    @media (min-width: 1440px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__cta {
    background: #F7F7F7;
    padding: 21px 0 23px;

    @media (min-width: 768px) {
      padding: 25px 0 18px;
    }

    @media (min-width: 1440px) {
      padding: 66px 0 59px;
    }
  }
}

.steps-cta {
  &__wrapper {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__title {
    margin-bottom: 12px;

    @media (min-width: 768px) {
      font-size: 28px;
      line-height: 34px;
      margin-right: 20px;
    }

    @media (min-width: 1440px) {
      font-size: 36px;
      line-height: 43px;
    }
  }
}
