.steps {
  padding-top: 27px;

  &__list {
    margin: 0;
  }

  &__item {
    display: flex;
    padding-bottom: 40px;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__img {
    margin-bottom: 14px;
  }

  &__title {
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    text-transform: capitalize;
    margin-bottom: 5px;
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  &__descr {
    font-size: 14px;
    line-height: 17px;
  }

  &__cta {
    background: #F7F7F7;
    padding: 21px 0 23px;
  }

  &-cta__title {
    margin-bottom: 12px;
  }
}
