.warranty {
  padding-top: 18px;
  padding-bottom: 20px;

  @media (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 42px;
  }

  &__title {
    font-size: 27px;
    line-height: 34px;

    @media (min-width: 768px) {
      margin-left: -2px;
      font-size: 35px;
      line-height: 43px;
    }
  }

  &__slider {
    padding: 16px 26px 0;

    @media (min-width: 768px) {
      padding: 16px 0 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 19px;
    }
  }
}

.w-slide {
  &__title-wrapper {
    display: flex;
    align-items: center;
    position: relative;

    @media (min-width: 768px) {
      flex-direction: column;
      align-items: start;
    }

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      width: 12px;
      height: 12px;
      border: solid #C4C4C4;
      border-width: 2px 0 0 2px;
      transform: translateY(-50%);

      @media (min-width: 768px) {
        display: none;
      }
    }

    &::before {
      transform: rotate(-45deg);
      left: -23px;
    }

    &::after {
      transform: rotate(135deg);
      right: -23px;
    }
  }

  &__img-wrapper {
    width: 62px;
    height: 62px;
    background-color: #f7f7f7;
    border-radius: 100%;
    flex-shrink: 0;

    @media (min-width: 768px) {
      width: 100px;
      height: 100px;
      margin-bottom: 13px;
    }
  }

  &__img {
    position: relative;
    top: 50%;
    left: 50%;
    width: 28px;
    transform: translate(-50%, -50%);

    @media (min-width: 768px) {
      width: 47px;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 19px;
    padding-left: 9px;
    font-weight: 600;

    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 24px;
      padding-left: 0;
    }
  }

  &__descr {
    font-size: 12px;
    line-height: 14px;
    padding-top: 14px;
    margin-bottom: 18px;

    @media (min-width: 768px) {
      padding-top: 10px;
      margin-bottom: 39px;
    }
  }

  &__button {
    width: auto;

    @media (min-width: 768px) {
      min-width: 100%;
    }
  }
}
