.weare {
  background: #F7F7F7;
  padding: 17px 0;


  &__img {
    display: inline-block;
    margin-bottom: 19px;
  }

  &__title-h4 {
    margin-bottom: 10px;
  }

  &__descr {
    margin-bottom: 22px;
  }
}
