/**
Базовый сброс стилей
Начало
*/
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
}

img {
	max-width: 100%;
}

/**
Базовый сброс стилей
Конец
*/

body {
	font-family: 'MyriadPro', sans-serif;
	margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper-flex {
	display: flex;
}

.title {
	margin: 0;
	padding: 0;
}

.title-h2 {
	font-weight: 900;
	font-size: 32px;
	line-height: 38px;
	text-transform: uppercase;
}

.title-h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
}

.title-h4 {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
}

.descr {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
}

.button {
	margin: 0 auto;
	padding: 0;
	height: 48px;
	width: 280px;
	background: transparent;
	border: 1px solid black;
	border-radius: 24px;
	color: black;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;

	&_color-blue {
		background-color: var(--color-blue);
		border-color: var(--color-blue);
		color: #fff;
	}

	&_color-orange {
		background-color: var(--color-orange);
		border-color: var(--color-orange);
		color: #fff;
	}

	@media (min-width: 768px) {
		margin: 0;
	}
}

.input {
	width: 280px;
	display: block;
	margin: 0 auto;
}
