// CSS-переменные (кастомные свойства)

:root {
  --color-blue: #008dcd;
  --color-lightblue: #94d1ec;
  --color-orange: #ffcc00;
  --color-yellow: #fce39c;
  --color-darkgrey: #363636;
  --color-grey: #b3b3b3;
  --color-lighgrey: #e1e1e1;
}
